body {
    font-family: 'Cairo', sans-serif;
}
.phone .iti--allow-dropdown{
    width: 100%;
}
.main-logo{
    height: 4rem !important;
}
.main-sidebar-header{
    display: block !important;
}
@media (max-width: 768px) and (min-width: 574px) {
    .responsive-logo .logo-1 {
        height: 4rem !important;
    }
}
@media (max-width: 574px) {
    .responsive-logo .logo-2 {
        height: 4rem !important;
    }
}
.menu-icon{
    font-size: 1.5em !important;
}
.sign-favicon{
    height: 80px !important;
}